<div id="<%= dom_id patient %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Family name:</strong>
    <%= patient.family_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">First name:</strong>
    <%= patient.first_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Born date:</strong>
    <%= patient.born_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Doctor:</strong>
    <%= patient.doctor.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Nurse:</strong>
    <%= patient.nurse.name %>
  </p>

</div>
