<%= form_with(model: [medical_record.patient, medical_record]) do |form| %>
  <% if medical_record.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(medical_record.errors.count, "error") %> prohibited this medical_record from being saved:</h2>

      <ul>
        <% medical_record.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :writing_date, style: "display: block" %>
    <%= form.date_field :writing_date %>
  </div>

   <div class="mb-3">
    <%= form.label :content, "詳細" %>
    <%= form.rich_text_area :content %>
  </div>
  
  <div class="inline">
    <%= form.submit class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
<% end %>
