<div id="<%= dom_id medical_record %>">
  <p>
    <strong>Patient:</strong>
    <%= medical_record.patient.name %>
  </p>

  <p>
    <strong>Writing date:</strong>
    <%= medical_record.writing_date %>
  </p>

  <p>
    <strong>Writer:</strong>
    <%= medical_record.writer.name %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= medical_record.content %>
  </p>

</div>
